// If you edit this file you need to compile the theme. See README.md for details.
// Affects the color of some component elements, e.g Button, Panel title, etc
$v-background-color: hsl(180, 96%, 91%);
//$v-grid-cell-focused-border: $v-grid-border;
//$v-grid-row-focused-background-color: $v-grid-row-background-color;
//$v-grid-row-selected-background-color: $v-grid-row-background-color;

// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: hsl(139, 96%, 96%);


// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .v-loading-indicator,
.v-loading-indicator-delay,
.v-loading-indicator-wait {
position: absolute  !important;
top: 52%;
right: 51%;
z-index: 30000;
width: 25px;
height: 25px;
margin: 0;
background-position: 50%;
background: #fff url(../valo/shared/img/spinner.gif) no-repeat 50%;
background-color: black;
opacity: .8;
-ms-filter: alpha(opacity=80);
filter: alpha(opacity=80);
}
  .v-grid-cell.disabled {
    color: grey;
    cursor: default;
  }
  
  .v-grid-cell.active {
    color: blue;
    cursor: pointer;
  }
  
}
