
// Based on Metro
$v-font-family: "Source Sans Pro", sans-serif;
$v-app-background-color: #fff;
$v-background-color: #eee;
$v-focus-color: #0072C6;
$v-focus-style: 0 0 0 1px $v-focus-color;
$valo-menu-background-color: darken($v-focus-color, 10%);
$v-border: 0 solid v-shade;
$v-border-radius: 0px;
$v-bevel: false;
$v-gradient: false;
$v-shadow: false;
$v-textfield-bevel: false;
$v-textfield-shadow: false;
$v-textfield-border: 1px solid v-shade;
$v-link-text-decoration: none;
$v-overlay-shadow: 0 0 0 2px #000;
$v-overlay-border-width: 2px; // For IE8
$v-window-shadow: $v-overlay-shadow;
$v-selection-overlay-background-color: #fff;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 6px;
$v-panel-border: 2px solid v-shade;
// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .v-loading-indicator,
  .v-loading-indicator-delay,
  .v-loading-indicator-wait {
    position: absolute !important;
    top: 52%;
    right: 51%;
    z-index: 30000;
    width: 25px;
    height: 35px;
    margin: 0;
    background-position: 50%;
    background: #fff url(../valo/shared/img/spinner.gif) no-repeat 50%;
    background-color: wheat;
    opacity: .8;
    -ms-filter: alpha(opacity=65);
    filter: alpha(opacity=65);
  }
  
  .valo-menu-item:focus, .valo-menu-item:hover, .valo-menu-item.selected {
    color: wheat !important;
  }
  
  .v-grid-cell.disabled {
    color: grey;
    cursor: default;
  }
  
  .v-grid-cell.active {
    color: blue;
    cursor: pointer;
  }
  
  .v-grid-cell.required {
    background-color: red;
    cursor: pointer;
  }
  
  
  
}
