
// Based on Dark
$v-background-color: #444d50;
$v-focus-color: #07a9ca;
$v-focus-style: 0 0 3px 2px $v-focus-color;
$v-bevel-depth: 40%;
$v-gradient: v-linear 12%;
$v-border-radius: 10px;
$v-font-family: Roboto, sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-bevel: inset 0 1px 2px v-tint, inset 0 0 1px (v-tint 0.1);
$v-shadow: 0 0 0 3px rgba(0,0,0,0.32), 0 1px 0 3px rgba(255,255,255,0.14);
$v-textfield-bevel: inset 0 2px 2px v-shade;
$v-textfield-shadow: $v-shadow;
$v-unit-size: 40px;
$v-overlay-shadow: 0 0 0 3px (v-shade 8), 0 5px 10px (v-shade 4);
$v-component-group-spacing: 6px;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mytheme {
  @include valo;

  .v-loading-indicator,
  .v-loading-indicator-delay,
  .v-loading-indicator-wait {
    position: absolute !important;
    top: 52%;
    right: 51%;
    z-index: 30000;
    width: 25px;
    height: 35px;
    margin: 0;
    background-position: 50%;
    background: #fff url(../valo/shared/img/spinner.gif) no-repeat 50%;
    background-color: blue;
    opacity: .8;
    -ms-filter: alpha(opacity=65);
    filter: alpha(opacity=65);
  }
  
  /*
  .valo-menu-item:focus, .valo-menu-item:hover, .valo-menu-item.selected {
    font-weight: 800 !important;
    font-style: italic !important;
    color: blue !important;
  }
  */
  .v-grid-cell.disabled {
    color: grey;
    cursor: default;
  }
  
  .v-grid-cell.active {
    color: blue;
    cursor: pointer;
  }
  
}
